.navbar {
    width: 15%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.5%;
    outline: 2px solid black;
}

.navbar li {
    list-style-type: none;
    color: black;
    padding: 5%;
    font-weight: bold;
}

.navbar li:hover {
    background-color: orange;
}